html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://stmed.net/sites/default/files/building-wallpapers-28464-2294147.jpg') fixed;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  padding : 20px;
  margin-top: 60px;
}
form button,form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color:#2196F3;
  box-shadow: none;
}

.project-list {
  position:relative;
  left:50%;
  top:2em;
  transform: translateX(-50%);
  border-radius: 5px;
  padding-bottom: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  background-color: rgba(255, 255, 255, 0.9);
}


.card {
  width: 200px;
  transition: 1s;
  border-radius: 15px;
}

.card:hover {
box-shadow: 5px 5px 15px black;
}

.link-btn {
  padding:10px;
  transition:background 1s;
}

.link-btn:hover {
  background: rgba(100, 100 , 100 ,0.1);
}
.card-img {
  width:150px;
  height:150px;
}
.main-page{
  text-align: center;
  width:90vw;
  height:90vh;
  display:grid;
}

.main-page img {
  width: 170px;
  border-radius:50%;
  position:relative;
  top:3%;
  left:50%;
  transform: translate(-50%);
}

.main-page header{
  position: relative;
  color:#FFFFFF;
  font-size:3em;
  text-shadow: 5px 5px 30px black;
}

.banner-text {
  border:1px solid black;
  background-color: #000;
  opacity: .8;
  width: 45%;
  margin: auto;
  border-radius: 10px;
  padding:5px;
}

@media screen and (max-device-width: 480px) {
  .banner-text {
      background-color: #000;
      opacity: .8;
      width: 80%;
      margin: auto;
      border-radius: 10px;
      
  }
  
}

.banner-text h1 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 200;
  font-family: 'KoHo', sans-serif;
  margin:5px;

}



.banner-text p {
  text-align: center;
  color: #FFF;
  font-size: 20px;
}

.social-links {
  display: flexbox;
  grid-gap: 6px;
  grid-template-columns: repeat(auto-fill, minmax(5.5em, 1fr));
  width: 60%;
  margin: auto;
}

.social-links i {
  color: #fff;
  font-size: 5em;
  padding: 10px;
  margin: auto;
  transition: 1s;
}
.social-links i:hover {
  color:#42A5f5;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.about-page {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.2em;
  width: 80%;
  height: 70%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
}

.about-page h1 {
  font-family: 'KoHo', sans-serif;
  font-size: 25px;
  padding: 5px;
}

.about-page hr {
  border-top: 1px dotted black;
  width: 100%;
  margin: auto;
  margin-top: -20px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: auto;
  padding: 25px;
  font-family: 'KoHo', sans-serif;
}
.contact-page {
  display:flexbox;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
}

.contact-page h1 {
  font-family: 'KoHo', sans-serif;
  font-size: 25px;
  text-align: center;
}
.contacts {
  display:flexbox;
  text-align: center;
  font-size: 1.2em;
  font-family: 'KoHo', sans-serif;
  margin: 20px;
}

@media screen and (max-device-width: 480px) {
  
  .contacts {
    display:grid;
    font-size: 0.8rem;
  }

}

@media screen and (min-device-width: 500px) {
  
  .white {
    width:450px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
  }
}

.deleteIcon {
  position: absolute;
  top:0;
  margin: 0.5em;
}

.deleteIcon:hover {
  cursor: pointer;
}